body {
  font-family: 'Sztylet';
  margin-top: 100px;
  padding: 40px;
  bottom: 0;
}

span, p {
  color: black;
}

label {
  color: black;
}

input {
  color: black;
}

.link {
  color: #3366CC;
  font-weight: 600;
  font-size: 18px;
}

.link:hover {
  text-decoration: underline;
}

#chooseActionName {
  color: teal;
  font-weight: bold;
}

#chooseAction {
  font-size: 18px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.line {
  width: 3rem;
  color: #3366CC;
  margin-left: 0.3rem;
}

.btn_operation:hover {
    text-decoration: underline !important;
}

#log:hover {
  background-color: #f6f6f6 !important;
  text-decoration: underline;
}

#close_a {
  float: right;
}

#log {
  text-decoration: none !important;
}

#dob_dod {
  margin-left: -5px !important;
}

#result_id_p {
  font-size: 0.01px;
  visibility: hidden;
}

.popup-content {
  background-color: #f3f3f3 !important;
  width: 30% !important;
  height: auto !important;
  box-shadow: 5px 5px 3px #aaaaaa;
}

.add_form {
  margin: 0px 150px 0px;
  width: 50%;
  padding: 15px;
  background-color: rgb(242, 242, 242, .97);
  box-shadow: 10px 10px 5px #aaaaaa;
}

.tree_label_btn {
  margin-left: 0.5rem;
  margin-top: -1rem;
  background-color: #3366CC !important;
  padding: 7px !important;
  display: inline-flex;
  align-items: center;
  border-color: transparent;
  border-radius: 9999px;
  color: white;
  content: "+";
}

.node_info {

}

.spouse {
  background-color: red;
  width: 5rem;

}

.plus {
  width: 10px;
}

.popup-content {
  position: relative;
  margin: auto;
  pointer-events: auto;
  width: 50%;
  border: solid 1.5px;
}

.indivTree a:hover {
  color: rgb(1, 73, 73);
}

.indivTree a {
  color: #3366cc;
  text-decoration: none;
}

#indivTree {
  padding: 6px;
  border-radius: 6px;
  margin: 10px;
}

#tree_name {
  color: #3366CC;
}

.list_info {
  width: 50%;
  float: right;
  margin-left: 2rem;
}

#centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

#jon {
  width: 250px;
  height: 250px;
  background-image: url("jon.jpg");
  background-size: contain;
  margin-left: -1rem;
}

#helpImgs {
  height: 60%;
  width: 200px;
}

.popup_ul {
  font-size: 18px;
  list-style-type: none;
  letter-spacing: 0.5px;
}

.person_info span {
  color: #3366CC;
}

#shareBtn {
  margin-left: 1rem;
  cursor: pointer;
}

#btn, .add_btn, .edit_btn {
  background-color: teal;
  border: none;
  color: white;
  padding: 12px;
  margin: 12px 0;
  box-shadow: 0 1px 6px #ccc;
  width: auto;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  font-family: sans-serif;
}

.add_btn:hover {
  text-decoration: underline !important;
}

.label_text {
  font-family: sans-serif;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.intextRef {
  text-decoration: none;
  color: #3366CC;
}

.description {
  margin-bottom: 2.1rem;
  margin-top: 15px;
  font-size: 16px;
  font-family: sans-serif;
}

.description ul {
  list-style-position: inside;
}

.description p {
  width: 60%;
}

.logo {
  width: 200px;
  height: 200px;
}

.containerStyles {
  width: 100%;
  height: 80vh;
}

.graphBtn {
  width: 10rem;
  cursor: pointer;
}

#addGraphNode {
  margin-right: 3rem;
}

.showTreeContainer {
  justify-content: center;
  display: flex;
  text-align: center;
}

.graphBtnContainer {
  justify-content: center;
  display: flex;
}

.tree_center {
  justify-content: center;
  display: flex;
  text-align: center;
}

.tree_options {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

#dashboard {
  font-family: sans-serif;
  font-weight: bold;
}

#tree_view {
  float: left;
  cursor: pointer;
}

#tree_view:hover, #tree_graph:hover {
  text-decoration: underline;
}

#tree_graph {
  float: right;
  cursor: pointer;
  padding-left: 2rem;
}

.collapsible {
  padding-left: 1rem;
}

.indiv_info {
  color: black !important;
}

.tree_item {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  user-select: none;
}

.link {
  margin-right: 20px;
}

#family_size {
  text-decoration: underline;
}

.result_table {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

.result_table thead {
  background-color: teal !important;
  opacity: 0.8;
  color: white;
}

.result_table td,tr {
  border: 0.3px solid black;
}

/* navigation bar general container */
.nav {
  background-color: #f6f6f6;
  display: flex;
  position: fixed;
  align-items: center;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 3px 0 #3366cc;
  z-index: 1;
}

.navLogo {
  margin-left: 30px;
}

.nav_list {
  list-style-type: none;
}

.nav_list * {
  display: inline;
}

.tree {
  margin-top: -10rem;
}

li a {
  color: #3366cc; /* blue color */
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  padding: 30px 30px; /* distance btw nav bar options */

}
li a:hover {
  text-decoration: underline;
}

/* login/sign up btns container */
.accountContainer {
  float: right;
  right: 35px;
  position: absolute;
}

/* login/sign up btns formatting */
.accountBtns {
  border-style: none;
  width: 130px;
  background-color: #f6f6f6;
  color: #3366cc;
  box-shadow: none;
  font-weight: 500;
  font-size: 22px;
  font-family: 'Sztylet';
}

#login_btn {
  cursor: pointer;
  width: calc(100% - 10px);
}

#login_btn:hover {
  background-color: #006666;
  text-decoration: underline;
}

#log_gmail:hover {
  background-color: #f3f3f3 !important;
}

#log_gmail {
  float: right;
  cursor: pointer !important;
  margin-top: -35px;
  margin-right: 4.5rem;
  width: auto;
  height: auto;
}

#log_gmail:hover {
  text-decoration: underline;
}

#welcome {
  font-size: 22px;
  font-weight: 600;
  cursor: default;
  float: left;
  right: 5rem;
  margin-bottom: 2rem;
  width: auto;
  height: auto;
}

/* vertical line btw the buttons */
.accountBtns:not(:last-child) {
  width: 200px;
  margin-right: 15px;
  margin-left: -10px;
  box-shadow: none;
  color: black;
}

.rightButton:hover, .leftButton:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: none !important;
}

/* text container */
.content {
  margin: 25px 50px 75px;
  padding: 50px;
  background-color: rgb(242, 242, 242, .97);
  width: 75%;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.name {
  text-decoration: underline;
  font-style: italic;
}

#acknowledgements {
  font-size: 30px;
}

.subtopic {
  text-align: center;
  font-size: 36px;
  margin-bottom: -5px;
  color: black;
  font-family: 'Pristina';
  font-weight: bold;
}

/* Login container */
.loginContainer {
  width: 30%;
  position: fixed;
  top: 20%;
  left: 30%;
}

/* login button spacing */
.loginButton {
  padding: 15px;
}

/* login w email btn */
.email_btn{
  text-decoration: none;
  background-color: white;
  color: black;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
}

/* login 'or' */
.loginTxt{
  position: relative;
  text-align: center;
}


.btns {
  background-color: teal;
  border: none;
  color: white;
  padding: 12px;
  margin: 12px 0;
  box-shadow: 0 1px 6px #ccc;
  width: auto;
  border-radius: 6px;
  font-size: 18px;
  font-family: sans-serif;
}
.btns:hover {
  background-color: #009999;
}

.add_tree_btn {
  width: 15rem;
  cursor: pointer;
}

.btn_center {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.class_btn {
  margin: 2rem;
}

#table_btns {
  width: 100px;
  vertical-align: middle;
  margin-top: 5%;
  display: flex;
  border: none;
  align-items: center;
  margin-left: 5px;
}

#edit_btn, #del_btn {
  text-decoration: none;
  padding: 3px;
  margin: 2px;
  cursor: pointer;
  font-size: 16px;
}

.errorMsg {
  color: red;
}

.hover_pointer:hover {
  cursor: pointer;
}

#user_id {
  color: #3366cc;
}

.helpQuestion {
  margin-bottom: 0px;
  text-decoration: dotted;
  font-weight: 15px;
}

.listQs{
  margin-bottom: 0px;
}

.listQs a{
  font-size: 17px;
}

.text {
  color: black;
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {

.content {
  max-width: 75%;
}

}

@media (max-width: 700px) {

.content {
  max-width: 65%;
}

}
